<div class="page-contacts col-lg-12">
    <p>Контакты</p>
    <br>
    <p><b>Адрес:</b>&nbsp;&nbsp;443109, РФ, Самарская область, город Самара, улица Товарная, 24А.</p>
    <p><b>Почтовый адрес:</b>&nbsp;&nbsp;443109, РФ, Самарская область, город Самара, улица Товарная, 24А.</p>
    <p><b>Как проехать:</b>&nbsp;&nbsp;На пересечении улиц Товарная и Мателлургическая (ориентир на перекрестке - Красный шар из автомобильных дисков), поворачиваем на Металлургическую.</p>
    <p>Заезжаем в ТРЕТЬИ ворота с ЛЕВОЙ стороны и:</p>
    <p><b>Склад:</b>&nbsp;&nbsp;СПРАВА первый бокс (№10).</p>
    <p><b>Офис:</b>&nbsp;&nbsp;ПРЯМО до конца, двухэтажное кирпичное здание, зеленая лестница на 2й этаж, домофон.</p>
    <p><b>Телефоны:</b>&nbsp;&nbsp;8(846)931-12-26, 8(846)931-42-60, 8(846)931-03-57</p>
    <p><b>Факс:</b>&nbsp;&nbsp;8(846)931-03-57</p>
    <p><b>Электронная почта:</b>&nbsp;&nbsp;<a href="mailto:lubritek@yandex.ru">lubritek@yandex.ru</a></p>
    <br>
    <div>
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Abf8375d02bf4a995b2f48ceee34948b6b963ba808c4276c9d3af406fa737f81b&amp;width=100%25&amp;height=600&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>

{#<p>test_variable: {{ test_var }}</p>#}
{#<p>base_path ~ directory : {{ base_path ~ directory }}</p>#}


