.arrow-down {
  position: fixed;
  top: 90vh;
  left: 48.37vw;
  height: 10vh;
  width: 5vh;
  color: $green;
  z-index: 100;
  font-size: 4vh;
}
.moving {
  /*animation*/
  animation: moving 3s infinite;
  @keyframes moving {
    0%, 100% {
      top: 95vh;
    }
    50% {
      top: 90vh;
    }
  }
}

