footer.footer {
  height: 350px;
  bottom: 0;
  left: 40px;
  font-family: 'Oswald', sans-serif;
  font-size:20px;
  font-weight: 400;
  width: calc(100% - 40px);
  margin-left: 40px;
  background: #555;
  color: $yellow;
  a, a:hover, a:visited{
    color: $yellow;
  }
  #block-shortfaq .panel-heading, #block-shortfaq .panel-body, #block-shortfaq .panel-default {
    background-color: $black;
    border-top:none;
    border:none;
  }
  #block-shortfaq .panel-body, #block-shortfaq .panel-body a  {
    color: $white;
  }

  .region.region-footer>nav, .region.region-footer>section{
    width: 25%;
    float: left;
    text-align: center;
  }
  .region.region-footer>nav{
    text-transform: uppercase;
  }
  .region.region-footer>section:last-child{
    clear: right;
  }
}