article.front-page-paragraph div.content > div {
  height: 100vh;
  width: 98vw;
}

@media #{$wide}{
  .frontpage_paragraph {
    .fp_twt_title {
      font-size: 3vw;
      line-height: 3vw;
      font-weight: 400;
    }

    .fp_twt_text {
      p{
        font-size: 1.5vw;
        line-height: 1.5vw;
        font-weight: 200;
      }
    }
  }
}
@media #{$normal}{
  height: 10vw;
}
@media #{$tablet}{
  height: 10vw;
}
@media #{$mobile}{
  height: 10vw;
}

