@media #{$wide}{
  .fp-1, .fp-2, .fp-3, .fp-4, .fp-5, .fp-6 {
    border: 1px solid black;
    font-family: 'Oswald', sans-serif;
    color: $black;
    text-align: center;
  }

  //Paragraph 1
  .fp-1.twt {
    /*min-height:50vw;*/
  }
  .fp-1.twt > .paragraph__column {
    height: 50vw;
    .fp_twt_title{
      top:10vw;
      position: absolute;
    }
    .fp_twt_text{
      top:30vw;
      position: absolute;
    }
  }
  //Paragraph 2
  .fp-2.twt {
    min-height:50vw;
  }
  .fp-2.simple {
    min-height:5vw;
  }
  //Paragraph 3
  .fp-3.simple {
    min-height:50vw;
  }
  //Paragraph 4
  .fp-4.twt {
    height:50vw;
  }
  //Paragraph 5
  div.fp-5 {
    min-height:50vw;
  }
  //Paragraph 6
  .fp-6.simple {
    min-height:5vw;
  }
  .fp-6.twt {
    min-height:45vw;
  }
}

@media #{$normal}{
  height: 10vw;
}
@media #{$tablet}{
  height: 10vw;
}
@media #{$mobile}{
  height: 10vw;
}

