.navbar {
  z-index: 100;
  height: 18vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: $yellow;
  border: none;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
  border-radius: 0px;
  margin-bottom: 0;
  min-height: 0px;

  .btn-primary {
    background-color: $yellow;
    border-color: $yellow;
    font-size: 5vh;
  }
  .logo, #block-uppertext {
    z-index: 200;
  }
  #block-tipymasel {
    position: absolute;
    top: 18vh;
    background: white;
    color: black;
    left: 0vw;
    width: 14vw;
    h2 {
      position: absolute;
      top: 23vh;
      left: 10vw;
      transform: rotate(-90deg);
      z-index: 100;
      width: 10vw;
    }
  }

  @media #{$mobile}{
    height: 100vh;

/*    #block-ltk-search {display: none}*/

    #block-ltk-main-menu, #block-uppertext, #block-sitename, #block-siteslogan, #block-adres, #block-vremaraboty,
    #block-telephones, #block-elpocta, .logo {
      position: absolute;
      font-family: 'Oswald', sans-serif;
      color: $green;
    }

    #block-adres, #block-vremaraboty, #block-elpocta {
      img { display: none }
    }

    .logo {
      @media (orientation: portrait){top: 1vh; left: 1vh;}
      @media (orientation: landscape){top: 0.2vh; left: 1vh;}
      padding: 0;
      margin: 0;
      img { height: 10vmax; width: 10vmax }
    }

    #block-sitename {
      left: 0;
      font-weight: 400;
      font-size: 8vmax;
      line-height: 8vmax;
      width: 100vw;
      text-align: center;
      top: 1vh;
    }

    #block-ltk-search {
        position: absolute;
        width: 100vw;
        top: 12vh;
        height: 12vh;
        #search-block-form {
          .form-item {
            margin-bottom: 0;
          }
        }
        input.form-search {
          height: 12vh;
          border-radius: 0;
          border: none;
        }
        .input-group {
          position: absolute;
          display: block;
          width: 100vw;
          .btn-primary {
            top: 0.5vh;
            right: 0.5vh;
            position: absolute;
            width: 11vh;
            height: 11vh;
            border-radius: 1vh;
            z-index: 100;
            @media (orientation: landscape) {
              right: 0.5vh;
              width: 20vh;
            }
          }
        }
      @media (orientation: landscape) {
        top: 17vh;
      }
      }

    #block-elpocta {
      top: 45vh;
      left: 0vmax;
      width: 100vw;
      font-size: 6vmax;
      line-height: 6vmax;
      text-align: center;
      a:visited, a:hover, a:active {
        color: $green;
      }
      @media (orientation: landscape) {
        top: 40vh;
      }
    }

    #block-telephones {
      @media (orientation: portrait) {
        top: 18vh;
        left: 0vw;
        width: 100vw;
        p {
          font-size: 6vmax;
          line-height: 6vmax;
          font-weight: 400;
          text-align: center;
        }
      }
      @media (orientation: landscape) {
        top: 28vh;
        text-align: center;
        font-size: 5vmax;
        line-height: 4vmax;
        width: 100vw;
        p {
          width: 40vw;
          float: left;
        }
        .h {
          width: 30vw;
        }
      }
    }

    #block-siteslogan {
      @media (orientation: portrait) {
        top: 12vh;
        left: 0vw;
        font-weight: 400;
        font-size: 3.5vmax;
        line-height: 4vmax;
        text-align: center;
        width: 100vw;
      }
      @media (orientation: landscape) {
        top: 20vh;
        left: 0vw;
        font-weight: 400;
        font-size: 3.5vmax;
        line-height: 4vmax;
        text-align: center;
        width: 100vw;
      }
    }

    #block-adres {
      top: 58vh;
      left: 0vw;
      width: 100vw;
      font-size: 5vmax;
      line-height: 5vmax;
      text-align: center;
      @media (orientation: landscape) {
        top: 54vh;
      }
    }

    #block-vremaraboty {
      top: 64vh;
      left: 0vw;
      width: 100vw;
      font-size: 5vmax;
      line-height: 5vmax;
      text-align: center;
      @media (orientation: landscape) {
        top: 64vh;
      }
    }

    #block-uppertext {
      top: 74vh;
      left: 0;
      width: 100vw;
      height: 24vmax;
      p {
        line-height: 3.5vmax;
        font-size: 3.5vmax;
        font-weight: 100;
        text-align: center;
      }
      @media (orientation: landscape) {
        top: 74vh;
        p {
          line-height: 4vmax;
          font-size: 4vmax;
        }
      }
    }

    button.navbar-toggle {
      @media (orientation: portrait) {
        top: 1vh;
        right: 1vh;
        margin: 0;
        position: absolute;
      }
      @media (orientation: landscape) {
        top: 1vh;
        right: 1vh;
        margin: 0;
        position: absolute;
      }
    }

    #block-ltk-main-menu {
      @media (orientation: portrait) {
        top: 11vmax;
      }
      @media (orientation: landscape) {
        top: 11vmax;
      }
      position: absolute;
      ul.navbar-nav {
        margin: 0;
        li {
          width: 100vw;
          background: $white;
          a {
            margin: 0;
            padding: 0;
            text-align: center;
            border: 1px solid $white;
            &:hover {
              background: $yellow;
              color: $green;
            }
            font-size: 30px;
            line-height: 40px;
          }
        }
      }
    }

    &.minimized {
      margin-bottom: 0;
      @media (orientation: portrait){
        height: 12vh;
      }

      @media (orientation: landscape){
        height: 18vh;
      }

      #block-uppertext, #block-siteslogan, #block-adres, #block-vremaraboty,
      #block-elpocta, #block-telephones {
        display: none;
      }

      #block-ltk-main-menu {
        @media (orientation: landscape){

        }
      }
    }

  }
  @media #{$tablet}{
    height: 10vmax;
    min-height: 2vmax;
    #block-ltk-main-menu, #block-uppertext, #block-sitename, #block-siteslogan, #block-adres, #block-vremaraboty,
    #block-telephones, #block-elpocta, .logo {
      position: absolute;
      font-family: 'Oswald', sans-serif;
      color: $green;
    }

    #block-adres, #block-vremaraboty, #block-elpocta {
      img {
        height: 1vw;
      }
    }

    .logo {
      top: 0;
      left: 1vmax;
      img { height: 7.5vmax; }
    }

    #block-ltk-main-menu {
      left: 0;
      width: 100vw;

      @media (orientation: portrait){
      top: 0.25vmax;
      font-size: 1.5vmax;
      line-height: 1.5vmax;
      }
      @media (orientation: landscape){
        top: 0.25vmax;
        font-size: 1.5vmax;
        line-height: 1.5vmax;
      }
      ul.navbar-nav {
        text-align: center;
        float: none !important;
      }
      li {
        float: none !important;
        display: inline-block !important;
        a {
          padding: 0 0.5vw;
          color: $green;
        }
      }
    }

    #block-uppertext {
      bottom: 0;
      left: 0;
      font-weight: 200;
      font-size: 0.9vw;
      width: 100vw;
      text-align: left;
    }

    #block-sitename {
      top: 2.5vw;
      left: 10vw;
      font-weight: 400;
      font-size: 1.5vw;
      line-height: 1.5vw;
      text-transform: uppercase;
    }

    #block-siteslogan {
      top: 6.5vw;
      left: 10vw;
      font-weight: 400;
      font-size: 1vw;
      line-height: 1vw;
    }

    #block-vremaraboty {
      top: 2.5vw;
      left: 75vw;
      font-size: 1vw;
      line-height: 1vw;
    }

    #block-adres {
      top: 4vw;
      left: 75vw;
      font-size: 1vw;
      line-height: 1vw;
    }

    #block-elpocta {
      top: 5.5vw;
      left: 75vw;
      font-size: 1vw;
      line-height: 1vw;
      a:visited, a:hover, a:active {
        color: $green;
      }
    }

    #block-telephones {
      top: 1vw;
      right: 2vw;
      text-align: right;
      font-size: 1.5vw;
      line-height: 1.5vw;
    }

    #block-ltk-search {
      position: absolute;
      width: 25vw;
      top: 7.9vw;
      right: 0;
      .form-search {
        border: 1px solid white;
      }
      #edit-keys {
        height: 2vw;
      }

      .btn-primary {
        color: #fff;
        height: 2vw;
        background-color: $yellow;
        border: 1px solid white;
        font-size: 0.5vw;
        padding: 0 0.5vw 0 0.5vw;
      }
      .glyphicon-search {
        line-height: 2vw;
        font-size: 1vw;
      }
    }

    &.minimized {
      height: 2vw;
      font-weight: 400;
      font-size: 1.5vw;
      line-height: 1.5vw;

      .logo {
        top: -1.4vh;
        left: 1vw;
        img {
          height: 2vw;
        }
      }
      #block-telephones {
        top: 0.1vw;
        p.h {
          display: none;
        }
      }
      #block-elpocta {
        top: 0.1vw;
        left: 74vw;
        font-weight: 400;
        font-size: 1.5vw;
        line-height: 1.5vw;
        img {
          display: none;
        }
      }
      #block-uppertext, #block-siteslogan, #block-adres, #block-vremaraboty, #block-ltk-search {
        display: none;
      }
      #block-sitename {
        top: 0.25vw;
        left: 5vw;
      }
      #block-ltk-main-menu {
        top: -0.25vmax;
        font-size: 1.5vmax;
        line-height: 1.5vmax;
      }
    }
  }
  @media #{$normal}{
    height: 10vw;
    min-height: 2vw;

    #block-ltk-main-menu, #block-uppertext, #block-sitename, #block-siteslogan, #block-adres, #block-vremaraboty,
    #block-telephones, #block-elpocta, .logo {
      position: absolute;
      font-family: 'Oswald', sans-serif;
      color: $green;
    }

    #block-adres, #block-vremaraboty, #block-elpocta {
      img {
        height: 1vw;
      }
    }

    .logo {
      top: 0;
      left: 1vw;
      img { height: 7.5vw; }
    }

    #block-ltk-main-menu {
      top: 0.25vw;
      left: 0;
      width: 100vw;
      font-size: 1.5vw;
      line-height: 1.5vw;
      ul.navbar-nav {
        text-align: center;
        float: none !important;
      }
      li {
        float: none !important;
        display: inline-block !important;
        a {
          padding: 0 0.5vw;
          color: $green;
        }
      }
    }

    #block-uppertext {
      bottom: 0;
      left: 0;
      font-weight: 200;
      font-size: 0.9vw;
      width: 100vw;
      text-align: left;
    }

    #block-sitename {
      top: 2.5vw;
      left: 10vw;
      font-weight: 400;
      font-size: 1.5vw;
      line-height: 1.5vw;
      text-transform: uppercase;
    }

    #block-siteslogan {
      top: 6.5vw;
      left: 10vw;
      font-weight: 400;
      font-size: 1vw;
      line-height: 1vw;
    }

    #block-vremaraboty {
      top: 2.5vw;
      left: 75vw;
      font-size: 1vw;
      line-height: 1vw;
    }

    #block-adres {
      top: 4vw;
      left: 75vw;
      font-size: 1vw;
      line-height: 1vw;
    }

    #block-elpocta {
      top: 5.5vw;
      left: 75vw;
      font-size: 1vw;
      line-height: 1vw;
      a:visited, a:hover, a:active {
        color: $green;
      }
    }

    #block-telephones {
      top: 1vw;
      right: 2vw;
      text-align: right;
      font-size: 1.5vw;
      line-height: 1.5vw;
    }

    #block-ltk-search {
      position: absolute;
      width: 23vw;
      top: 9vw;
      right: 2vw;
      #search-block-form {
        bottom: -1.6vw;
        position: absolute;
      }

      .form-search {
        border: 1px solid white;
      }
      #edit-keys {
        height: 2vw;
      }

      .btn-primary {
        color: #fff;
        height: 2vw;
        background-color: $yellow;
        border: 1px solid white;
        font-size: 0.5vw;
        padding: 0 0.5vw 0 0.5vw;
      }
      .glyphicon-search {
        line-height: 2vw;
        font-size: 1vw;
      }
    }

    &.minimized {
      height: 2vw;
      font-weight: 400;
      font-size: 1.5vw;
      line-height: 1.5vw;
      .logo {
        top: 0;
        left: 1vw;
        margin: 0;
        img {
          height: 2vw;
        }
      }
      #block-telephones {
        top: 0.2vw;
        p.h {
          display: none;
        }
      }
      #block-elpocta {
        top: 0.25vw;
        left: 74vw;
        font-weight: 400;
        font-size: 1.5vw;
        line-height: 1.5vw;
        img {
          display: none;
        }
      }
      #block-uppertext, #block-siteslogan, #block-adres, #block-vremaraboty, #block-ltk-search {
        display: none;
      }
      #block-sitename {
        top: 0.25vw;
        left: 5vw;
      }
      #block-ltk-main-menu {
        top: 0;
      }
    }
  }
  @media #{$wide}{

    #block-ltk-main-menu, #block-uppertext, #block-sitename, #block-siteslogan, #block-adres, #block-vremaraboty,
    #block-telephones, #block-elpocta, .logo {
      position: absolute;
      font-family: 'Oswald', sans-serif;
      color: $green;
    }

    #block-adres, #block-vremaraboty, #block-elpocta {
      img {
        height: 1vw;
      }
    }

    .logo {
      top: 0;
      left: 1vw;
      img { height: 7.5vw; }
    }

    #block-ltk-main-menu {
      top: 0.25vw;
      left: 0;
      width: 100vw;
      font-size: 1.5vw;
      line-height: 1.5vw;
      ul.navbar-nav {
        text-align: center;
        float: none !important;
      }
      li {
        float: none !important;
        display: inline-block !important;
        a {
          padding: 0 0.5vw;
          color: $green;
        }
      }
    }

    #block-uppertext {
      bottom: 0;
      left: 0;
      font-weight: 200;
      font-size: 0.9vw;
      width: 100vw;
      text-align: left;
    }

    #block-sitename {
      top: 2.5vw;
      left: 10vw;
      font-weight: 400;
      font-size: 3.5vh;
      line-height: 3.2vh;
      text-transform: uppercase;
    }

    #block-siteslogan {
      top: 6.5vw;
      left: 10vw;
      font-weight: 400;
      font-size: 1vw;
      line-height: 1vw;
    }

    #block-vremaraboty {
      top: 2.5vw;
      left: 75vw;
      font-size: 1vw;
      line-height: 1vw;
    }

    #block-adres {
      top: 4vw;
      left: 75vw;
      font-size: 1vw;
      line-height: 1vw;
    }

    #block-elpocta {
      top: 5.5vw;
      left: 75vw;
      font-size: 1vw;
      line-height: 1vw;
      a:visited, a:hover, a:active {
        color: $green;
      }
    }

    #block-telephones {
      top: 1vw;
      right: 2vw;
      text-align: right;
      font-size: 1.5vw;
      line-height: 1.5vw;
    }

    #block-ltk-search {
      position: absolute;
      width: 23vw;
      top: 9vw;
      right: 2vw;
      #search-block-form {
        bottom: -1.6vw;
        position: absolute;
      }

      .form-search {
        border: 1px solid white;
      }
      #edit-keys {
        height: 2vw;
      }

      .btn-primary {
        color: #fff;
        height: 2vw;
        background-color: $yellow;
        border: 1px solid white;
        font-size: 0.5vw;
        padding: 0 0.5vw 0 0.5vw;
      }
      .glyphicon-search {
        line-height: 2vw;
        font-size: 1vw;
      }
    }

    &.minimized {
      height: 4vh;
      .logo {
        top: 0.25vh;
        margin: 0;
        left: 1vw;
        img {
          height: 3.5vh;
        }
      }
      #block-telephones {
        top: 0.1vw;
        p.h {
          display: none;
        }
      }
      #block-elpocta {
        top: 0.1vw;
        left: 74vw;
        font-weight: 400;
        font-size: 1.5vw;
        line-height: 1.5vw;
        img {
          display: none;
        }
      }
      #block-uppertext, #block-siteslogan, #block-adres, #block-vremaraboty, #block-ltk-search {
        display: none;
      }
      #block-sitename {
        top: 0.25vw;
        left: 5vw;
      }
    }
  }
}