.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  background: $yellow;
  border: none;
  min-height: 2vw;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;

  @media #{$wide}{
    height: 10vw;
  }
  @media #{$normal}{
    height: 10vw;
  }
  @media #{$tablet}{
    height: 10vw;
  }
  @media #{$mobile}{
    height: 10vw;
  }

  #block-ltk-main-menu, #block-uppertext, #block-sitename, #block-siteslogan, #block-adres, #block-vremaraboty, #block-telephones, #block-elpocta, .logo {
    position: absolute;
    font-family: 'Oswald',sans-serif ;
    color: $green;


  }

  #block-adres, #block-vremaraboty, #block-elpocta {
    img {
      height: 1vw;
    }
  }

  .logo {
    top: 0;
    left: 1vw;
    img {height: 7.5vw;}
  }

  #block-ltk-main-menu {
    top: 0.25vw;
    left: 0;
    width: 100vw;
    font-size: 1.5vw;
    line-height: 1.5vw;
    ul.navbar-nav {
      text-align:center;
      float: none !important;
    }
    li {
      float: none !important;
      display: inline-block !important;
      a {
        padding: 0 0.5vw;
        color: $green;
      }
    }
  }

  #block-uppertext {
    bottom: 0;
    left: 0;
    font-weight: 200;
    font-size: 0.9vw;
    width: 100vw;
    text-align: left;
  }

  #block-sitename {
    top: 2.5vw;
    left: 10vw;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 1.5vw;
    text-transform: uppercase;
  }

  #block-siteslogan {
    top: 6.5vw;
    left: 10vw;
    font-weight: 400;
    font-size: 1vw;
    line-height: 1vw;
  }

  #block-vremaraboty {
    top: 2.5vw;
    left: 75vw;
    font-size: 1vw;
    line-height: 1vw;
  }

  #block-adres {
    top: 4vw;
    left: 75vw;
    font-size: 1vw;
    line-height: 1vw;
  }

  #block-elpocta {
    top: 5.5vw;
    left: 75vw;
    font-size: 1vw;
    line-height: 1vw;
    a:visited, a:hover, a:active {
      color: $green;
    }
  }

  #block-telephones {
    top: 1vw;
    right: 2vw;
    text-align: right;
    font-size: 1.5vw;
    line-height: 1.5vw;
  }

  #block-ltk-search {
    position: absolute;
    width: 23vw;
    top: 9vw;
    right: 2vw;
    #search-block-form {
      bottom: -1.6vw;
      position: absolute;
    }

    .form-search{
      border:1px solid white;
    }
    #edit-keys {
      height: 2vw;
    }

    .btn-primary {
      color: #fff;
      height: 2vw;
      background-color: $yellow;
      border:1px solid white;
      font-size: 0.5vw;
      padding: 0 0.5vw 0 0.5vw;
    }
    .glyphicon-search {
      line-height: 2vw;
      font-size: 1vw;
    }
  }


  &.minimized {
    height: 2vw;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 1.5vw;

    /*line-height: 7vw;*/
    .logo {
      top: -0.9vh;
      left: 1vw;
      img {
        height: 2vw;
      }
    }
    #block-telephones {
      top: 0.1vw;
      p.h {
        display: none;
      }
    }
    #block-elpocta {
      top: 0.1vw;
      left: 74vw;
      font-weight: 400;
      font-size: 1.5vw;
      line-height: 1.5vw;
      img {
        display: none;
      }
    }
    #block-uppertext, #block-siteslogan, #block-adres, #block-vremaraboty, #block-ltk-search {
      display: none;
    }
    #block-sitename {
      top: 0.25vw;
      left: 5vw;
    }
    #block-ltk-main-menu {
    }
  }
}



