.navbar {
  z-index: 100;
  height: 18vh;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  background: $yellow;
  border: none;
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
  border-radius: 0px;
  margin-bottom: 0;

  .btn-primary {
    background-color: $yellow;
    border-color: $yellow;
    font-size: 5vh;
  }
  .logo, #block-uppertext/*, #block-elpocta */{
    z-index: 100;
  }

  #block-bokovoemenuspisokprodukcii {
    position: absolute;
    top: 18vh;
    background: white;
    color: black;
    left: 0vw;
    width: 14vw;
  }

  @media #{$mobile}{
    height: 18vmax;
    #block-uppertext, #block-siteslogan, #block-vremaraboty {display: none}
    #block-ltk-main-menu, #block-sitename, #block-adres-2, #block-telephones, #block-elpocta, .logo {
      position: absolute;
      font-family: 'Oswald', sans-serif;
      color: $green;
    }
    .logo {
      @media (orientation: portrait){top: 1vh; left: 1vh;}
      @media (orientation: landscape){top: 0.2vh; left: 1vh;}
      padding: 0;
      margin: 0;
      img { height: 10vmax; width: 10vmax }
    }
    #block-sitename {
      top: 1vmax;
      left: 11vmax;
      font-weight: 400;
      font-size: 8vmax;
      line-height: 8vmax;
      text-align: center;
    }
    #block-ltk-search {
      font-family: "Oswald", sans-serif;
      height: 6vmax;
      position: absolute;
      top: 12vmax;
      height: 10vmax;
      #search-block-form {.form-item {margin-bottom: 0}}
        input.form-search {
          -webkit-border-top-right-radius: 0px;
          -moz-border-top-right-radius: 0px;
          border-top-right-radius: 0px;
          -webkit-border-bottom-right-radius: 0px;
          -moz-border-bottom-right-radius: 0px;
          border-bottom-right-radius: 0px;
          -webkit-border-bottom-left-radius: 0px;
          -moz-border-bottom-left-radius: 0px;
          border-bottom-left-radius: 0px;
          height: 10vmax;
          border: none;
        }
        .input-group {
          height: 6vmax;
          width: calc(89vw - 30px);
          #edit-keys--2{
            font-size: 4vh;
          }
          position: absolute;
          display: block;
          .btn-primary {
            font-size: 3vh;
            border: 1px white solid;
            position: absolute;
            width: 11vw;
            height: 11vw;
            z-index: 100;
            background: $blue;
          }
        }
      @media (orientation: landscape) {
        top: 17vh;
      }
    }
    #block-elpocta {
      top: 6vmax;
      right: 1vmax;
      font-size: 3vmax;
      line-height: 3vmax;
      text-align: center;
      a:visited, a:hover, a:active {
        color: $green;
      }
      @media (orientation: landscape) {
        top: 6vmax;
      }
    }
    #block-telephones {
      p:nth-child(1),p:nth-child(3){
        display: none;
      }
      @media (orientation: portrait) {
        top: 2vmax;
        right: 1vmax;
        p {
          font-size: 3vmax;
          line-height: 3vmax;
          font-weight: 400;
          text-align: center;
        }
      }
      @media (orientation: landscape) {
        top: 2vmax;
        right: 1vmax;
        text-align: center;
        font-size: 3vmax;
        line-height: 3vmax;
        .h {
          width: 30vw;
        }
      }
    }
    #block-adres-2 {
      top: 11vmax;
      right: 1vmax;
      font-size: 3vmax;
      line-height: 3vmax;
      text-align: center;
      @media (orientation: landscape) {
        top: 11vmax;
      }
    }
    #block-ltk-main-menu {
      top: 18vh;
      position: absolute;
      ul.navbar-nav {
        margin: 0px;
        li {
          background: $white;
          width: calc(100vw - 30px);
          a {
            height: 6vmax;
            margin: 0;
            padding: 0;
            text-align: center;
            border: 1px solid $white;
            &:hover {
              background: $yellow;
              color: $green;
            }
            font-size: 30px;
            line-height: 40px;
          }
        }
      }
    }

    &.minimized {
      height: 50px;
      margin-bottom: 0;
      @media (orientation: portrait){
        height: 50px;
      }
      @media (orientation: landscape){
        height: 50px;
      }
      #block-uppertext, #block-siteslogan, #block-adres-2, #block-vremaraboty,
      #block-elpocta, #block-telephones {
        display: none;
      }
      #block-ltk-main-menu {
        @media (orientation: landscape){

        }
      }
      #block-sitename {
        top: 5px;
        left: 55px;
        font-size: 30px;
        line-height: 30px;
      }
      .logo {
        top: 5px;
        margin: 0;
        left: 5px;
        img {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
  @media #{$tablet}{//0,6 от wide
    height: 120px;
    #block-ltk-main-menu, #block-uppertext, #block-sitename, #block-siteslogan, #block-adres-2, #block-vremaraboty,
    #block-telephones, #block-elpocta, .logo {
      position: absolute;
      font-family: 'Oswald', sans-serif;
      color: $green;
    }
    #block-adres-2, #block-vremaraboty, #block-elpocta {img {height: 9px}}
    .logo {
      top: 0;
      left: 15px;
      img { height: 78px; }
    }
    #block-ltk-main-menu {
      top: 5px;
      left: 0;
      width: 100%;
      font-size: 15px;
      line-height: 15px;
      ul.navbar-nav {
        text-align: center;
        float: none !important;
      }
      li {
        float: none !important;
        display: inline-block !important;
        a {
          padding: 0 6px;
          color: $green;
          &:hover{
            color: $white;
          }
        }
      }
    }
    #block-uppertext {
      bottom: 0;
      left: 0;
      font-weight: 200;
      font-size: 9px;
      width: 100vw;
      text-align: center;
    }
    #block-sitename {
      top: 24px;
      left: 102px;
      font-weight: 400;
      font-size: 21px;
      line-height: 21px;
      text-transform: uppercase;
    }
    #block-siteslogan {
      top: 66px;
      left: 100px;
      font-weight: 400;
      font-size: 10px;
      line-height: 10px;
    }
    #block-vremaraboty, #block-adres-2, #block-elpocta {
      right: 168px;
      font-size: 10px;
      line-height: 10px;
    }
    #block-vremaraboty {
      top: 25px;
    }
    #block-adres-2 {
      top: 40px;
    }
    #block-elpocta {
      top: 55px;
      a:visited, a:hover, a:active {
        color: $green;
      }
    }
    #block-telephones {
      top: 10px;
      right: 19px;
      text-align: right;
      font-size: 15px;
      line-height: 15px;
    }
    #block-ltk-search {
      position: absolute;
      width: 159px;
      top: 90px;
      right: 6px;

      #search-block-form {
        bottom: -15px;
        position: absolute;
        width: 159px;
      }

      .form-search {
        border: 1px solid white;
      }
      #edit-keys {
        height: 20px;
      }

      .btn-primary {
        color: #fff;
        height: 20px;
        background-color: $yellow;
        border: 1px solid white;
        font-size: 6px;
        padding: 0 6px 0 6px;
      }
      .glyphicon-search {
        line-height: 20px;
        font-size: 10px;
      }
    }
    &.minimized {
      height: 50px;
      #block-telephones {
        top: 5px;
        p.h {
          display: none;
        }
      }
      #block-elpocta {
        top: 5px;
        right: 280px;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        img {
          display: none;
        }
      }
      .logo {
        top: 5px;
        margin: 0;
        left: 5px;
        img {
          height: 30px;
        }
      }
      #block-uppertext, #block-siteslogan, #block-adres-2, #block-vremaraboty, #block-ltk-search {
        display: none;
      }
      #block-sitename {
        top: 5px;
        left: 84px;
      }
    }
  }
  @media #{$normal}{//0,8 от wide
    height: 150px;
    #block-ltk-main-menu, #block-uppertext, #block-sitename, #block-siteslogan, #block-adres-2, #block-vremaraboty,
    #block-telephones, #block-elpocta, .logo {
      position: absolute;
      font-family: 'Oswald', sans-serif;
      color: $green;
    }
    #block-adres-2, #block-vremaraboty, #block-elpocta {img {height: 12px}}
    .logo {
      top: 0;
      left: 25px;
      img { height: 104px; }
    }
    #block-ltk-main-menu {
      top: 5px;
      left: 0;
      width: 100%;
      font-size: 20px;
      line-height: 20px;
      ul.navbar-nav {
        text-align: center;
        float: none !important;
      }
      li {
        float: none !important;
        display: inline-block !important;
        a {
          padding: 0 8px;
          color: $green;
          &:hover{
            color: $white;
          }
        }
      }
    }
    #block-uppertext {
      bottom: 0;
      left: 0;
      font-weight: 200;
      font-size: 12px;
      width: 100vw;
      text-align: center;
    }
    #block-sitename {
      top: 32px;
      left: 136px;
      font-weight: 400;
      font-size: 28px;
      line-height: 28px;
      text-transform: uppercase;
    }
    #block-siteslogan {
      top: 88px;
      left: 134px;
      font-weight: 400;
      font-size: 13px;
      line-height: 13px;
    }
    #block-vremaraboty, #block-adres-2, #block-elpocta {
      right: 224px;
      font-size: 13px;
      line-height: 13px;
    }
    #block-vremaraboty {
      top: 34px;
    }
    #block-adres-2 {
      top: 53px;
    }
    #block-elpocta {
      top: 73px;
      a:visited, a:hover, a:active {
        color: $green;
      }
    }
    #block-telephones {
      top: 12px;
      right: 25px;
      text-align: right;
      font-size: 20px;
      line-height: 20px;
    }
    #block-ltk-search {
      position: absolute;
      width: 212px;
      top: 120px;
      right: 8px;

      #search-block-form {
        bottom: -20px;
        position: absolute;
        width: 212px;
      }

      .form-search {
        border: 1px solid white;
      }
      #edit-keys {
        height: 27px;
      }

      .btn-primary {
        color: #fff;
        height: 27px;
        background-color: $yellow;
        border: 1px solid white;
        font-size: 7px;
        padding: 0 7px 0 7px;
      }
      .glyphicon-search {
        line-height: 27px;
        font-size: 13px;
      }
    }
    &.minimized {
      height: 50px;
      #block-telephones {
        top: 5px;
        p.h {
          display: none;
        }
      }
      #block-elpocta {
        top: 5px;
        right: 224px;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        img {
          display: none;
        }
      }
      .logo {
        top: 5px;
        margin: 0;
        left: 5px;
        img {
          height: 30px;
        }
      }
      #block-uppertext, #block-siteslogan, #block-adres-2, #block-vremaraboty, #block-ltk-search {
        display: none;
      }
      #block-sitename {
        top: 5px;
        left: 67px;
      }
    }
  }
  @media #{$wide}{
    height: 189px;
    #block-ltk-main-menu, #block-uppertext, #block-sitename, #block-siteslogan, #block-adres-2, #block-vremaraboty,
    #block-telephones, #block-elpocta, .logo {
      position: absolute;
      font-family: 'Oswald', sans-serif;
      color: $green;
    }
    #block-adres-2, #block-vremaraboty, #block-elpocta {img {height: 15px}}
    .logo {
      top: 0;
      left: 25px;
      img { height: 130px; }
    }
    #block-ltk-main-menu {
      top: 5px;
      left: 0;
      width: 100%;
      font-size: 25px;
      line-height: 25px;
      ul.navbar-nav {
        text-align: center;
        float: none !important;
      }
      li {
        float: none !important;
        display: inline-block !important;
        a {
          padding: 0 8px;
          color: $green;
          &:hover{
            color: $white;
          }
        }
      }
    }
    #block-uppertext {
      bottom: 0;
      left: 0;
      font-weight: 200;
      font-size: 15px;
      width: 100vw;
      text-align: center;
    }
    #block-sitename {
      top: 40px;
      left: 170px;
      font-weight: 400;
      font-size: 36px;
      line-height: 36px;
      text-transform: uppercase;
    }
    #block-siteslogan {
      top: 110px;
      left: 168px;
      font-weight: 400;
      font-size: 17px;
      line-height: 17px;
    }
    #block-vremaraboty, #block-adres-2, #block-elpocta {
      right: 280px;
      font-size: 17px;
      line-height: 17px;
    }
    #block-vremaraboty {
      top: 42px;
    }
    #block-adres-2 {
      top: 67px;
    }
    #block-elpocta {
      top: 92px;
      a:visited, a:hover, a:active {
        color: $green;
      }
    }
    #block-telephones {
      top: 16px;
      right: 32px;
      text-align: right;
      font-size: 25px;
      line-height: 25px;
    }
    #block-ltk-search {
      position: absolute;
      width: 265px;
      top: 150px;
      right: 10px;

      #search-block-form {
        bottom: -26px;
        position: absolute;
        width: 265px;
      }

      .form-search {
        border: 1px solid white;
      }
      #edit-keys {
        height: 34px;
      }

      .btn-primary {
        color: #fff;
        height: 34px;
        background-color: $yellow;
        border: 1px solid white;
        font-size: 8px;
        padding: 0 8px 0 8px;
      }
      .glyphicon-search {
        line-height: 34px;
        font-size: 17px;
      }
    }
    &.minimized {
      height: 50px;
      #block-telephones {
        top: 5px;
        p.h {
          display: none;
        }
      }
      #block-elpocta {
        top: 5px;
        right: 280px;
        font-weight: 400;
        font-size: 25px;
        line-height: 25px;
        img {
          display: none;
        }
      }
      .logo {
        top: 5px;
        margin: 0;
        left: 5px;
        img {
          height: 30px;
        }
      }
      #block-uppertext, #block-siteslogan, #block-adres-2, #block-vremaraboty, #block-ltk-search {
        display: none;
      }
      #block-sitename {
        top: 5px;
        left: 84px;
      }
    }
  }
}