.side-menu--wrap {
  background: $yellow;


  /*НАЧАЛСЯ Расчет высоты бокового меню*/

  /*Первоначально объявляем переменную*/
  $htop:100px;
  /*В зависимости от брекета и статуса минимайзда задается значени новое прееменной*/
  @media #{$wide}{
    $htop: 189px;
    top: $htop;
    height: calc(100% - #{$htop});
    &.minimized{
      $htop: 42px;
      top: $htop;
      height: calc(100% - #{$htop});}
  }
  @media #{$normal}{
    $htop: 150px;
    top: $htop;
    height: calc(100% - #{$htop});
    &.minimized{
      $htop: 35px;
      top: $htop;
      height: calc(100% - #{$htop});
    }
  }
  @media #{$tablet}{
    $htop: 120px;
    top: $htop;
    height: calc(100% - #{$htop});
    &.minimized{
      $htop: 25px;
      top: $htop;
      height: calc(100% - #{$htop});
    }
  }

  /*ЗАКОНЧИЛСЯ Расчет высоты бокового меню*/

  position: fixed;
  left: 0px;
  z-index: 100;
  width: 40px;

  h2, a, .side-menu-burger--name {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }

  .side-menu-burger-link {
    height: 166px;
    cursor: pointer;
    &:hover{
      .side-menu-burger--icon span {background: $white}
      .side-menu-burger--name {color: $white}
    }
  }
  /*НАДПИСЬ ПРОДУКЦИЯ*/
  .side-menu-burger--name {
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;

    font-size: 20px;
    margin-top: 80px;

    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }

  /*БЛОК С БУРГЕР ИКОНКОЙ*/
  .side-menu-burger--icon{
    margin: 20px 10px 40px 10px;

    span {
      -webkit-transition: all .2s ease-out;
      transition: all .2s ease-out;
      height: 2px;
      width: 20px;
      background: $green;
      margin-bottom: 4px;
      display: block;
      box-sizing: border-box;
    }
    &.crossed{

      span:nth-child(1){
        transform: translate(-2px,6px) rotate(45deg);
        -webkit-transform: translate(-2px,6px) rotate(45deg);
        -ms-transform: translate(-2px,6px) rotate(45deg);
        -moz-transform: translate(-2px,6px) rotate(45deg);
        -o-transform: translate(-2px,6px) rotate(45deg);

        width: 23px
      }
      span:nth-child(2){
        transform: translate(-2px) rotate(-45deg);
        -webkit-transform: translate(-2px) rotate(-45deg);
        -ms-transform: translate(-2px) rotate(-45deg);
        -moz-transform: translate(-2px) rotate(-45deg);
        -o-transform: translate(-2px) rotate(-45deg);

        width: 23px;
      }
      span:nth-child(3){
        opacity: 0;
      }
    }
  }

  /*МЕНЮ КАТЕГОРИЙ ПРОДУКЦИИ (ВЫЕЗЖАЮЩЕЕ)*/
  .region-sidemenu{
    overflow-y: scroll;/*При длинном столбе опций появляется скролл*/
    display:none;
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;

    top: inherit;
    height: inherit;
    &.minimized{
      top: inherit;
      height: inherit;
    }
    /*width: 240px;*/
    left: 40px;
    background: $yellow;
    position: fixed;
    nav ul.nav {
      /*display: none;*/
      max-height: 59vh;
      min-height: 22vh;
      width: 240px;
      overflow-y: overlay;
      li {
        a{
          padding:2px 0px 5px 10px;
          &:hover{background: $yellow;}
        }
      }
    }
    h2, a{
      cursor: pointer;
      color: $green;
      &:hover{
        color: $white;
      }
    }

    h2 {
      display: inline-block;
      width: 200px;
      font-size: 20px;
    }
    a {
      font-size: 15px;
    }
    .glyphicon-menu-right {
      font-size: 20px;
    }
    a:hover{
      background: $yellow;
      text-decoration: underline;
    }
    &.active {
      display: block;
    }
  }
  /*ЗАКОНЧИЛОСЬ МЕНЮ КАТЕГОРИЙ ПРОДУКЦИИ (ВЫЕЗЖАЮЩЕЕ)*/
}






