// Default variables.
@import "default-variables";

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

// Base-theme overrides.
@import 'overrides';



$green: #17460F;
$yellow: #FBBA00;
$lightyellow: #FCD973;
$black: #000000;
$white: #FFFFFF;

//Manual Breakpoints
$mobile: "screen and (min-width: 0px) and (max-width: 767px)";        /*0     -   767*/
$tablet: "screen and (min-width: 768px) and (max-width: 991px)";      /*768   -   991*/
$normal: "screen and (min-width: 992px) and (max-width: 1199px)";     /*992   -   1199*/
$wide: "screen and (min-width: 1200px)";                              /*1200  -   extra large*/

@import 'pages/pages';
@import 'blocks/blocks';
@import 'component/header';
@import 'component/frontpage_paragraphs';
@import 'component/sidemenu';

/*BREAKPOINT DETECTION SYSTEM*/
/*jquery detects the visible element and sees the breakpoint*/
@media #{$mobile}{
  .device-mobile, .device-tablet, .device-normal, .device-wide {display: none}
  .device-mobile {display: block}
}
@media #{$tablet}{
  .device-mobile, .device-tablet, .device-normal, .device-wide {display: none}
  .device-tablet {display: block}
}
@media #{$normal}{
  .device-mobile, .device-tablet, .device-normal, .device-wide {display: none}
  .device-normal {display: block}
}
@media #{$wide}{
  .device-mobile, .device-tablet, .device-normal, .device-wide {display: none}
  .device-wide {display: block}
}
/*BREAKPOINT DETECTION SYSTEM END*/

body {
  background: $white;
  color: $green;
  a{
    color: $green;
    &:hover {color: $white;}
  }

  /*РАЗМЕТКА ГЛАВНЫХ ЭЛЕМЕНТОВ*/
  .row {
    margin:0;
  }

  &.body-minimized {
    @media #{$mobile}{
      margin-top:0;
      .region-highlighted {
        top: 50px;
        height: 35px;
      }
    }
    @media #{$tablet}{
      margin-top: 40px;
      .region-highlighted {
        top: 50px;
        height: 35px;
      }
    }
    @media #{$normal}{
      margin-top: 70px;
      .region-highlighted {
        top: 50px;
        height: 35px;
      }
    }
    @media #{$wide}{
      margin-top: 100px;
      .region-highlighted {
        top: 50px;
        height: 35px;
        z-index:100;
      }
    }
  }

  @media #{$mobile}{margin-top:0}
  @media #{$tablet}{margin-top: 120px}
  @media #{$normal}{margin-top: 150px}
  @media #{$wide}{margin-top: 189px}

  /*КРОШКИ базовые параметры*/
  .region-highlighted {
    position: fixed;
    left: 80px;
    width: calc(100% - 80px);/*Ширина - расчет от максимума минус 80px*/
  }
  /*ЗАКОНЧИЛИСЬ КРОШКИ*/




  /*ЗАКОНЧИЛАСЬ РАЗМЕТКА ГЛАВНЫХ ЭЛЕМЕНТОВ*/

}
h1, h2, h3, h4, h5 {
  color: $black;
}

/*Стиль для запрета копирования*/
.no-copy {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}



